<section class="banner">

	<div class="slide">
		<h2 class="heading">{{ settings.main_heading }}</h2>

		<p class="copy">{{ settings.feature_copy }}</p>

		<a href="{{ settings.hero_link }}">
			<button>
				{{ settings.hero_button_text }}
			</button>
		</a>
	</div>

</section>