<div class="text-center mylightbox-content">
	<h1 class="fun-font">get on the list</h1>
	<h2>Get 10% off today</h2>
	<h3>Be the first to know!</h3>
	
	<p>Early access to sales,</p>
	<p>Exclusive look at new collections</p>
	<p>And 10% Off your first purchase online</p>
	<p>Or at our private boutique.</p>
</div>