<!-- /templates/article.lookbook.liquid -->
<div class="main-content">
		<div class="lookbook">
			<div class="rte page-post-editor" itemprop="articleBody">
				{{ article.content }}
			</div>
		</div>
</div>
