<meta charset="utf-8" />

  
<div class="main-content">
    <!-- backgroud image here -->

    <section class="" 
        id="trip-banner"
        
        style="background-image: url('//cdn.shopify.com/s/files/1/1230/7128/files/Event-Detail-1.jpg?v=1540089072');"
    >
    </section>
    <section class="wrapper">
        <!-- First part on the page -->
        <div class="trip-container post-details-container">

            <div class="desc-details">
                <div class="key-factors">

                    <!-- Trip/event duration -->
                    <div class="duration">
                        <h3>DATE & TIME</h3>
                        <p>Oct 15th, 2018</p>
                        <p>2pm - 1:30pm (EST)</p>
                    </div>

                    <!-- Trip/event details -->
                    <div class="details">
                        <h3>LOCATION</h3>
                        <p>Verity (in the Library)</p>
                        <p>111 Queen Street E</p>
                    </div>

                    <!-- Price -->
                    <div class="price">
                        <h3>Price</h3>
                        <p>$120 + HST</p>
                    </div>

                    <!-- inquire button -->
                    <div class="button-container">
                        <button class="special-button additional-line"><a href="/pages/lets-talk">BOOK NOW</a></button>
                    </div>

                    <!-- Share buttons -->
                    <div class='shareaholic-canvas share-buttons' data-app='share_buttons' data-app-id='25501593'></div>

                </div>
                <div class="post-intro">
                    <h4>TORONTO, ONTARIO</h4>
                    <h1>Women Of The Left Bank. Paris in the 1920s</h1>
                    <p>Between the wars, Paris sizzled as a centre of avant-garde and nurtured some of history’s most iconic female writers. In this not-to-be-missed literary event, we'll take an imaginary stroll through the Left Bank of the 1920s and get to know some of its more colourful characters. We’ll meet personalities like Sylvia Beach, founder of the mythical bookstore Shakespeare & Company. We'll wander over to Gertrude Stein’s apartment, where we’ll admire her Picassos and take tea with Alice B. Toklas. En route, we’ll pop into the literary salon held by scandalous heiress Natalie Barney and meet fellow wild-child Colette.</p>
                    <p>Join Paris-based journalist Lisa Pasold for lunch as she dishes on the brilliant Left Bank women of the 1920s. Barbara Schwartz, collector, expert and owner of Trufaux Jewels, will share with us her vast knowledge of vintage jewelry illustrated by some glorious pieces. </p>
                    <p>Lisa Pasold is a Governor General’s Award–nominated writer, journalist (The Globe and Mail, The Chicago Tribune) and television host of Discovery World's Paris Next Stop. </p>
                </div>
            </div>

            <!-- image gallery -->
            <div class="post-img-gallery">

                <div class="each-img">
                    <div class="img-container">
                            <img src="//cdn.shopify.com/s/files/1/1230/7128/files/Event-Detail-Slide-1.jpg?v=1540091224" alt="Vintage Jewels" />
                        <div class="img-desc">
                            Image Description
                        </div>
                    </div>
                </div>

                <!-- Add image to gallery here -->
                <!-- <div class="each-img">
                    <div class="img-container">
                            <img src="//cdn.shopify.com/s/files/1/1230/7128/files/Event-Detail-Slide-1.jpg?v=1540091224" alt="Vintage Jewels" />             
                        <div class="img-desc">
                            RUE DE PASSY SHOPPING DISTRICT
                        </div>
                    </div>
                </div> -->


                <!-- Add image to gallery here -->
                <!-- 
                <div class="each-img">
                    <img src="//cdn.shopify.com/s/files/1/1230/7128/files/jase-bloor-315641-unsplash.jpg?v=1539558120 "
                    alt="post gallery image">
                </div> -->


                <!-- Add image to gallery here -->
                <!-- 
                <div class="each-img">
                    <img src="//cdn.shopify.com/s/files/1/1230/7128/files/jase-bloor-315641-unsplash.jpg?v=1539558120 "
                    alt="post gallery image">
                </div> -->
            </div>
            <!-- image gallery end -->  
        </div>

    </section>
</div>		
  