<!-- /templates/page.studio.liquid -->

<div class="main-content studio-header">	

	<div class="wrapper">
		<div class="grid">
		
			<div class="grid__item">
			
				<div class="rte">
				
					<div class="studio-photo-bg">
						<div class="studio-photo-plate text-center">
							
							<h1 class="fun-font">{{ page.title }}</h1>
							
							{{ page.content }}
							
						</div>
					</div>
					
				</div>
			
			</div>
		
		</div>
	</div>
	
</div>

<div class="main-content studio-usp-section">	

	<div class="wrapper"> 
		
				
		<div class="grid usp-zone ">
			<div class="grid__item">
				<div class="grid">
					<div class="grid__item large--one-fifth"></div>
					<div class="grid__item large--three-fifths text-center">
						<h2 class="hp-main-section">How it Works</h2>
		            	
						<div class="hp-main-section-line"></div>
						
						
						<div class="">
							<div class="fancy-box">
								<h3 class="no-orn">Come In for a Visit</h3>
								<h4>And we'll play</h4>
								<div class="fancy-box-line"></div>
								<ol class="studio-box text-center">
									<li>Book your appointment through our {{ 'online booking calendar' | link_to: pages['book-a-date'].url }}</li>
									<li>Meet with me to "play". Tell me all about yourself and your lifestyle – together, we will create the look that makes you tick</li>
									<li>Walk out feeling ultra-fabulous, ready to face an avalanche of compliments from your envious girlfriends</li>
								
								</ol>
								<a class="btn reversed" href="/pages/book-a-date" title="Book a Date">Book Now</a>
								<br><br><br><br>
							</div>
						</div>
		    			
		    		</div>	
					<div class="grid__item large--one-fifth"></div>
				</div>
			</div>
			<div class="grid__item">
				<div class="grid">
					<div class="grid__item large--one-fifth"></div>
					<div class="grid__item large--three-fifths text-center">
						<div class="">
							<div class="fancy-box">
								<h3 class="fancy-box-orn-two">No Time to Drop By?</h3>
								<h4>Pas de problème!</h4>
								<br>
								<ol class="studio-box text-center">
								<li>Send me an email with your list of WANTS
            		    	
									<li>In return, you will receive a link to your private customized look book of selected pieces. Think of it as the Vogue September Issue, written just for you</li>
            		    	    	
									<li>When you have a moment, flip through the pages and click on the items that you fancy. Each page is a live link to my website where you'll be able to learn more about each piece</li>
            		    	    	
									<li>Click and order it</li>
            		    	    	
									<li>Voila! In a few short days, you will receive a box containing your treasures. Try them on, keep what you want, or return what didn't work for you (very little, I suspect)</li>
            		    	    	
								</ol>
								<a class="btn reversed" href="mailto:boutique@ruepigalle.ca">Email Your Wants</a>
								
							</div>
						</div>
					
						
					</div>
					<div class="grid__item large--one-fifth"></div>
				</div>
			</div>
			<div class="grid__item">
				<div class="grid">	
					<div class="grid__item large--one-fifth"></div>				
					<div class="grid__item large--three-fifths text-center">
						<br><br>
						<strong class="text-center" style="font-weight:300;font-size:1.35em">Shopping done - wardrobe refreshed - partner none the wiser</strong>					
					</div>
					<div class="grid__item large--oone-fifth"></div>
				</div>
			</div>
			
		</div>		
	</div>

</div>

<div class="main-content">	

	<div class="wrapper">
		<div class="grid faq-small>">
			<div class="grid__item">
			
				<div class="rte text-center">
					<h2 class="hp-main-section">FAQ</h2>
		
					<div class="hp-main-section-line"></div>
				
					
					<strong>What happens after I book my appointment?</strong>
					<br>
					Once you book a consultation, I will email you with a few questions to make sure I am totally ready for you when you visit. Don’t have a clear, specific idea of what you are after? Not a problem – it’s my pleasure to help you figure it out.
					<br><br>

					<strong>Is there a fee for my consultation?</strong>
					<br>

					Mais non! A visit to The Studio is absolutely free, as is the inspiration and advice you’ll find there. You’ll pay only for products that you will fall in love with and insist on taking home.
					<br><br>

					<strong>Can I cancel or reschedule my consultation?</strong>
					<br>

					Absolutely. You can cancel or reschedule your consultation visit via your confirmation email. Please do so at least 24 hours in advance to allow other visitors to take your time slot. 
					<br><br>

					<strong>How far in advance can I make an appointment?</strong>
					<br>

					You can book up to three weeks in advance. If the time that you want is not available, check back or email me at boutique@ruepigalle.ca.
					<br><br>

					<strong>Do I need to bring anything to my appointment?</strong>
					<br>
					Only yourself! However, if there is a specific garment you wish to accessorize or an outfit you’re looking to supplement, please bring it along. Feel free to  <a href="mailto:boutique@ruepigalle.ca">email&nbsp;me</a> photos or to share any details that you think will help make your visit a smashing success. 
					
					<br><br>

					<strong>Do I have to purchase something during my visit?</strong>
					<br>

					There is absolutely no obligation or pressure to purchase during your Studio consultation.
					<br><br>

					<strong>What if I don’t like the pieces you've sent me?</strong>
					<br>

					No problem. Our return policy allows you to return all items within 15 days of receiving them.
					<br><br>

					<strong>Can I bring a friend or my partner?</strong>
					<br>

					Certainly! A trusted friend or partner  are often your best style advisors - because they love you.

					
					
				</div>
			</div>
			
			<div class="grid__item">							
				<div class="rte massive-testimonial">				
					<div class=studio-quote>
						<blockquote class="massive">Think of it as the Vogue September Issue, written just for you.</blockquote>
						<p><strong>Isabelle Fish</strong><br>Founder, Rue Pigalle</p>
					</div>					
				</div>			
			</div>
			
		</div>
	</div>
</div>
			

