<!-- /snippets/join-the-list.liquid -->
{% comment %}
  Join The List Section
{% endcomment %}

<div class="main-content hp-contrast-section index-email-signup">	
	<div class="grid mailchimp-wrap">
		{{ store.metafields }}
		
		<div class="grid__item large--one-twelfth">
		</div>

		<div class="grid__item medium--two-thirds large--one-half">
			<h2 class="mailchimp-title">{{ settings.email-signup-title }}</h2>
			<div class="mailchimp-short-horizonal"></div>
			<div class="mailchimp-copy">{{ settings.email-signup-text }}</div>


			<div class="grid">
				<div class="grid__item">
					
					<!-- Begin MailChimp Signup Form -->
						
					<div id="mc_embed_signup">
						<form action="//ruepigalle.us4.list-manage.com/subscribe/post?u=89c0dbb9e16ac0b7123820233&amp;id=7bc188221d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="contact-form validate" id="contact_form"  target="_blank" novalidate>
								<div id="mc_embed_signup_scroll">
								
								<div class="mc-field-group">
									<input placeholder="Name*" type="text" value="" name="FNAME" class="mailchimp-input input-group-field" id="mce-FNAME">
								</div>
								
								<div class="mc-field-group">
									<input placeholder="Email Address*" type="email" value="" name="EMAIL" class="mailchimp-input input-group-field required email" id="mce-EMAIL">
								</div>
								
								<div id="mce-responses" class="clear">
									<div class="response" id="mce-error-response" style="display:none"></div>
									<div class="response" id="mce-success-response" style="display:none"></div>
								</div>   
								
								<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_89c0dbb9e16ac0b7123820233_7bc188221d" tabindex="-1" value="">
								</div>
								<div class="clear" style="text-align: center">
									<input type="submit" value="{{ settings.email-signup-button }}" name="subscribe" id="mc-embedded-subscribe" class="mailchimp-button">
								</div>
								
							</div>
							</form>
					</div>

					<!--End mc_embed_signup-->
				
				</div>
			</div>				
		</div>

	</div>
	
</div>
