.lookbook {
  max-width: 1250px;
  margin: 0 auto;
  padding-top: 50px;

  .page {
    position: relative;
    background-color: lightgrey;
    margin: 40px 0;
    padding-bottom: 62.8%;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    a {
      position: absolute;
      display: block;
      top: 0%;
      left: 0%;
      z-index: 2000;
    }

    .debug {
      background-color: rgba(255, 0, 0, 0.5);
    }

    .blank-cross {
      width: 2.0588235%;
      height: 3.1818182%;
    }

    .pink-cross {
      @extend .blank-cross;
      background-image: url(//cdn.shopify.com/s/files/1/1230/7128/t/9/assets/shop-the-look-icon.png?6785681623197767947);
      background-size: contain;
      background-repeat: no-repeat;
    }

    .text {
      width: 4.0%;
      height: 1.6%;
    }

  }

  .page-type2 {
    @extend .page;
    margin: 0;
    padding-bottom: 68.18%;
    img {
      height: auto;
    }
  }

  .page-type3 {
    @extend .page;
    max-width: 1230px;
    padding-bottom: 63.3%;
  }

  .page-type4 {
    @extend .page;
    max-width: 1230px;
    padding-bottom: 73.25%;
  }

}

canvas {
  position: relative;
}