<!-- /templates/article.lookbook.liquid -->
<div class="main-content">
	<div class="wrapper">
		<div class="newsletter-article">
			<div class="rte page-post-editor" itemprop="articleBody">
				<table>
					{{ article.content }}
				</table>
			</div>
		</div>
	</div>
</div>
