<!-- /templates/page.newsletter.liquid -->
<div class="main-content">	

	<div class="wrapper">
		<div class="grid">
		
		  <div class="grid__item">
	    	<div class="section-header">
				<h1>{{ page.title }}</h1>
			</div>
		    <div class="rte page-post-editor">
		      {{ page.content }}
			  <br>
			  
              
			  
			  

		    </div>
		
		  </div>
			
		  <div class="grid__item">
		     
		  	<div class="page-end"></div>
		  					
		  </div>
		
		</div>
	</div>
</div>