

{% include 'souvenier-sector', sector_name: 'sector_1', 
    image1: section.settings.image1, image2: section.settings.image2,
    image3: section.settings.image3, image4: section.settings.image4,
    desc1: section.settings.souvenier_desc1, 
    desc2: section.settings.souvenier_desc2
    desc3: section.settings.souvenier_desc3
    desc4: section.settings.souvenier_desc4 
%}
{% include 'souvenier-reverse-sector', sector_name: 'sector_2' %}
{% include 'souvenier-sector', sector_name: 'sector_3' %}


{% schema %}
  {
    "name": "Souveniers Block",
    "settings": [
      {
        "id": "image1",
        "type": "image_picker",
        "label": "Add the first souvenier image here"
      },
      {
        "id": "image2",
        "type": "image_picker",
        "label": "Add the second souvenier image here"
      },
      {
        "id": "image3",
        "type": "image_picker",
        "label": "Add the third souvenier image here"
      },
      {
        "id": "image4",
        "type": "image_picker",
        "label": "Add the fourth souvenier image here"
      },
      {
        "id": "souvenier_desc1",
        "type": "richtext",
        "label": "First Souvenier desc",
        "default": "<p>desc</p>"
      },
      {
        "id": "souvenier_desc2",
        "type": "richtext",
        "label": "Second Souvenier desc",
        "default": "<p>desc</p>"
      },
      {
        "id": "souvenier_desc3",
        "type": "richtext",
        "label": "Third Souvenier desc",
        "default": "<p>desc</p>"
      },
      {
        "id": "souvenier_desc4",
        "type": "richtext",
        "label": "Fourth Souvenier desc",
        "default": "<p>desc</p>"
      }

    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}