.newsletter-blog {

}

$font-size: 20px;

.newsletter-article {
  
  font-size: 20px !important;
  padding-top: 50px;

  tr {
    td {
      p {
        span {
          span {
            font-size: 20px !important;
          }
        }
      }
    }
  }
  table.mcnTextBlock {
    td.mcnTextContent {
      span {
        span {
          font-size: 20px !important;
        }
      }
    }

  }

  table.mcnImageBlock {
    min-width: 100% !important;
    width: 100% !important;
    max-width: 100% !important;
    a {
      min-width: 100% !important;
      width: 100% !important;
      max-width: 100% !important;
      img {
        min-width: 100% !important;
        width: 100% !important;
        max-width: 100% !important;
      }
    }
  }

  table.mcnFollowBlock {
    display: none;
  }

  table.mcnTextBlock:last-of-type {
    display: none;
  }

  // table.mcnFollowBlock, table.mcnTextBlock, table.mcnShareBlock {
  //   display: none;
  // }

  // table.mcnDividerBlock {
  //   height: 0px;
  //   td, tr {
  //     height: 0px;
  //   }
  // }

  td {
    border: none;
  }
}
