
$small: 480px;
$medium: 768px;
$large: 1024px;

$min: min-width;
$max: max-width;
@mixin at-query ($constraint_, $viewport1_, $viewport2_:null) {
 $constraint: $constraint_; $viewport1: $viewport1_; $viewport2: $viewport2_;
  @if type-of($constraint_) == number {
    $viewport1 : $constraint_; $viewport2 : $viewport1_; $constraint : null;
  }
  @if $constraint == $min {
    @media screen and ($min: $viewport1) {
      @content;
    }
  } @else if $constraint == $max {
    @media screen and ($max: $viewport1) {
      @content;
    }
  } @else {
    @media screen and ($min: $viewport1) and ($max: $viewport2) {
      @content;
    }
  }
}

$pink: #F065A4;

#trip-banner {
    padding-top: 180px;
    padding-left: 0px;
    text-align: center;

    h1 {
        margin: auto;
        width: 60%;
        font-size: 32px;
    }

    h3 {
        padding-top: 50px;
    }
} 

.desc-details {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.key-factors {
    width: 35%;
    padding-left: 15%;

    div {
        margin-bottom: 30px;
    }

    i.shareaholic-service-icon {
        background: $pink !important;
    }
}

.key-factors, .itinerary-footer {

    #shr_canvas2 {
        margin-top: -30px;
        height: 60px;
    }

    i.shareaholic-service-icon {
        background: $pink !important;
    }
}

.post-intro {
    width: 50%;

    h1 {
        color: black;
        font-size: 34px;
        font-weight: 400 !important;
    }

    h4 {
        color: grey;
        font-size: 14px;
    }
}

.button-container {
    .special-button {
        position: relative;
        padding: 5px 30px;
        background-color: $pink;
        font-size: 12px;
        color: white;
        margin-left: 6px;
    }

    .additional-line:before {
        content: " ";
        position: absolute;
        z-index: 1;
        top: -5px;
        left: -5px;
        height: 30px;
        width: 100%;
        border: 1px solid $pink;
    }   
}

.post-img-gallery .each-img {
    height: 600px;
}

.trip-itinerary-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 500px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.itinerary-img {
    width: 45%;
}

.itinerary-content {
    width: 45%;
    overflow-y: scroll;
}

.itinerary-footer {
    text-align: center;

    .button-container {
        margin-bottom: 25px;
    }
}


@include at-query ($max, $medium) {

    .key-factors,  .itinerary-content, .itinerary-img, .post-intro {
        width: 100%;
    }

    .key-factors {
        padding-left: 0px;
        text-align: center;
    }

    .post-img-gallery .each-img {
        height: auto;
    }

    .itinerary-img {
        margin-bottom: 50px;
    }

    .trip-itinerary-container {
        height: auto;
    }

    .itinerary-content {
        overflow: auto;
    }

    .blogs-container {
        .blog__item {
            width: 100%
        }
    }

    #trip-inquiry-form {
        .row {
            .fieldgroup {
                width: 100%;
            }
        }
    }
}