
$small: 480px;
$medium: 768px;
$large: 1024px;

$p-size: 13px;
$small-ls: 0.5px;


$min: min-width;
$max: max-width;
@mixin at-query ($constraint_, $viewport1_, $viewport2_:null) {
 $constraint: $constraint_; $viewport1: $viewport1_; $viewport2: $viewport2_;
  @if type-of($constraint_) == number {
    $viewport1 : $constraint_; $viewport2 : $viewport1_; $constraint : null;
  }
  @if $constraint == $min {
    @media screen and ($min: $viewport1) {
      @content;
    }
  } @else if $constraint == $max {
    @media screen and ($max: $viewport1) {
      @content;
    }
  } @else {
    @media screen and ($min: $viewport1) and ($max: $viewport2) {
      @content;
    }
  }
}

$pink: #F065A4;

#trip-banner {
    background-size: cover;
    height: 380px;
    margin-bottom: 100px;
    padding-left: 0px;
    text-align: center;

    img {
        margin-top: 110px;
    }

    h1 {
        margin: auto;
        width: 50%;
        font-size: 24px;
        letter-spacing: 1.5px;
        margin-top: 30px;
        color: white;
        font-weight: 400 !important;
    }

    h3 {
        padding-top: 50px;
        color: white;
        font-size: 17px;
        font-weight: 400;
    }
} 

.desc-details {
    display: flex;
    flex-wrap: wrap-reverse;
    margin-bottom: 100px;
}

.key-factors {
    width: 35%;
    padding-left: 15%;

    h3 {
        font-size: $p-size;
        letter-spacing: 1.5px;
        color: black;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    p {
        font-weight: 300;
        font-size: 17px;
        margin-bottom: 0px;
    }

    div {
        margin-bottom: 50px;
    }

    // i.shareaholic-service-icon {
    //     background: $pink !important;
    // }
}

.key-factors, .souvenier-descriptions {

    .shareaholic-canvas {
        margin-top: -60px;
        height: 60px;
        margin-left: -15px;
    }

  
    /* just so we can overwrite styles from shareholic, had to use important */
    i.shareaholic-service-icon {
        font-size: 20px !important;
        height: 25px !important;
        width: 25px !important;
        color: #ffa2cc !important;
        padding: 16px;
        border: none !important;
        background-color: white !important;

        // hover state for social media handles
        &:hover {
            color: #ee68a4 !important;
        }
    }
}


// hover state for social media handles

.itinerary-footer {
    .shareaholic-canvas {
        height: 60px;
        margin-left: -15px;
    }

      /* just so we can overwrite styles from shareholic, had to use important */
      i.shareaholic-service-icon {
        font-size: 20px !important;
        height: 25px !important;
        width: 25px !important;
        color: #ffa2cc !important;
        padding: 16px;
        border: none !important;
        background-color: white !important;

        // hover state for social media handles
        &:hover {
            color: #ee68a4 !important;
        }
    }
}

.post-intro {
    width: 55%;

    h1 {
        color: black;
        font-size: 28px;
        letter-spacing: $small-ls;
        margin-bottom: 40px;
        font-weight: 400 !important;
    }

    h4 {
        color: #b0b0b0;
        font-size: $p-size;
        letter-spacing: 1.5px;
    }

    p {
        width: 95%;
        font-size: 17px;
        line-height: 24px;
    }
}

.button-container {
    // padding-top: 10px;
    margin-top: 0px;

    .special-button {
        position: relative;
        padding: 11px 40px;
        background-color: $pink;
        font-size: 12px;
        color: white;
        font-weight: 700;
        margin-left: 6px;
        z-index: 2;
        
        a {
            color: white;
            font-weight: 500;
        }
    }

    .additional-line:before {
        content: " ";
        margin-right: 10px;
        margin-bottom: 10px;
        position: absolute;
        z-index: -1;
        top: -5px;
        left: -5px;
        height: 100%;
        width: 100%;
        border: 1px solid $pink;
    }   
}

.post-img-gallery .each-img {
    
    &.slick-slide {
        min-height: unset !important;
    }

    .img-container {
        position: relative;

        img.mobile {
            display: none;
            margin: auto;
        }

        .img-desc {
            position: absolute;
            width: 200px;
            padding: 20px;
            opacity: 0.65;
            background-color: white;
            bottom: 13%;
            left: 7%;
            text-transform: uppercase;
            font-weight: 500;
            font-size: $p-size;
            letter-spacing: $small-ls;
        }
    }
  
}

.trip-itinerary-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 620px;
    margin-top: 50px;
    margin-bottom: 80px;
}

.itinerary-img {
    width: 45%;
}

.itinerary-content {
    width: 49%;
    padding-right: 40px;
    overflow-y: scroll;

    h2 {
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 50px;
        letter-spacing: 0.75px;
    }
    
    .each-block {
        margin-bottom: 40px;

        h4 {
            font-size: 13px;
            letter-spacing: 1.5px;
            margin-bottom: 20px;
        }

        p {
            font-size: 17px;
            line-height: 24px;
            letter-spacing: 0.5px;
        }
    }

}

.itinerary-footer {
    text-align: center;
    margin-bottom: 10px;

    .button-container {
        margin-bottom: 25px;

        .special-button {
            padding: 11px 45px;
        }
    }
}


@include at-query ($max, $medium) {

    .key-factors,  .itinerary-content, .itinerary-img, .post-intro {
        width: 100%;
    }

    .desc-details {
        margin-bottom: 50px;

        .post-intro {
            margin-bottom: 50px;
        }
    }

    .key-factors {
        padding-left: 0px;
        text-align: center;
    }

    .post-img-gallery .each-img {
        height: auto;

        .img-container {
            img {
                display: none;

                &.mobile {
                    display: block;
                }
            }
        }
    }

       
    .blog-headline {
        width: 80%;
    }

    .blog-page-banner {
        h1 {
            width: 90%;
            font-size: 26px;
        }
    }

    .adventures-banner.blog-page-banner {
        h1 {
            width: 90%;
        }
    }

    .itinerary-img {
        margin-bottom: 50px;
    }

    .trip-itinerary-container {
        height: auto;
        margin-bottom: 20px;
    }

    .itinerary-content {
        overflow: auto;
        padding-left: 15px;
    }

    .blogs-container {
        .blog__item {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }

    #trip-banner {
        h1 {
            width: 80%;
        }
    }

    #trip-inquiry-form {
        .row {
            .fieldgroup {
                width: 100%;
            }
        }
    }

    .souveniers-container .sector-container {
        height: auto;

        &:first-child {
            margin-bottom: 0px;
        }
    }
    
    .souvenier-descriptions {
        margin-bottom: 30px;
        
        .desc-container {
            p {
                &.tagline {
                    top: 29%;
                    // right: -9%;
                }
    
            }
        }
    }

    .image-gallery, .souvenier-descriptions {
        width: 100%;

        div.desc-container {
            height: auto;
            padding-left: 0px;
        }
    }

    .main-content .slick-dots {
        bottom: 5%;
    }

    .nav-bar {
        padding-left: 60px;
    }

    #shopify-section-souveniers-block {
        .souvenier-descriptions  {
            .shareaholic-canvas {
                padding-left: 0px;
            }
        }
    
        .reverse-souvenir-sector {
            margin-bottom: 10px;

            .souvenier-descriptions  {
                .desc-container {
                    padding-left: 40px;
                }

                .shareaholic-canvas {
                    padding-left: 40px;
                }
            }
        }
    }

    .blog__item {
        .hover-view {
            opacity: 1;
            position: static;
            height: unset;

            &:hover {
                background-color: white;
            }

            .pink-bar {
                margin: 20px 0px 20px 0px;
            }

            .hover-content {
                color: unset;

                h2 {
                    padding-left: 10%;
                }
                h3 {
                    padding-left: 10%
                }
            }
        }
    }

}