.join-the-list-page {
  margin-top: 120px;
  min-height: 600px;
	background-image: url(//cdn.shopify.com/s/files/1/1230/7128/t/9/assets/email-signup.jpg?14303653155581101961);
  background-position-x: right;
  background-position-y: top;
  background-size: cover;

  .floating-square-wrapper {
    min-height: 600px;
    display: flex;
    align-content: center;
    background-color: rgba(255, 255, 255, 0.4);

    .floating-square {

      h1 {
        width: 100%;
        text-align: center;
        padding: 15px;
      }

      h3 {
        font-weight: 300;
      }

      padding: 50px;
      margin: auto;
      margin-top: 100px;
      padding-bottom: 0;
      padding-top: 0;
      max-width: 600px;
      min-width: 0;
      height: auto;
      background: white;
      border-top: 3px #F065A4 solid;
    }
  }
}
