
.souveniers-container .sector-container {
    display: flex;
    justify-content: space-evenly;
}

.image-gallery, .souvenier-descriptions {
    width: 40%;

    div {
        height: 480px;
    }
}

.souveniers-banner {
    background-image: url({{ 'souveniers-banner' | asset_url }});  
}

.souvenier-descriptions {

    .desc-container {
        p {
            width: 65%;

            &:first-child {
                margin-top: 120px;
            }
            strong {
                font-size: 20px;
            }
        }
    }
   
}
