
.souveniers-container .sector-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 480px;
    margin-bottom: 50px;
}

.image-gallery, .souvenier-descriptions {
    width: 40%;
    position: relative;

    div {
        height: 480px;
    }
}

.souveniers-banner {
    background-image: url({{ 'souveniers-banner' | asset_url }});  
}

.souvenier-descriptions {

    .desc-container {
        p {
            width: 65%;

            &:first-child {
                margin-top: 120px;
            }
            strong {
                font-size: 20px;
            }

            &.tagline {
                position: absolute;
                width: auto;
                top: 17%;
                right: -12%;
                transform: rotate(-90deg);

                &:before {
                    content: '';
                    border: 3px solid black;
                    position: absolute;
                    width: 35%;
                    left: 108px;
                    top: -6px;
                }
            }

        }
    }
}




